$font-size-default: 10px;

$font-size-small: 1.2rem;
$line-height-small: 1.8rem;

$font-size-base: 1.4rem;
$line-height-base: 2.2rem;

$font-size: 1.6rem;
$line-height: 2.4rem;

$font-size-button: 2rem;
$line-height-button: 2.8rem;

$font-h1-size: 3.2rem;
$line-h1-height: 4.8rem;

$font-h2-size: 2.4rem;
$line-h2-height: 3.5rem;

$font-h3-size: 1.9rem;
$line-h3-height: 2.4rem;

$color-known: rgba(220, 53, 69, 0.9);
$color-unknown: rgba(53, 180, 69, 0.9);
